@keyframes girar {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.uno, .dos, .tres, .cuatro {
	font-size: 150px;
	animation-name: girar;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.dos {
	font-size: 250px;
}

.tres {
	position: absolute;
	left: 80px;
	top: 210px;
	font-size: 120px;
	animation-direction: reverse;
}

.cuatro {
	position: absolute;
	left: 270px;
	top: 210px;
	font-size: 180px;
	animation-direction: reverse;
}